<!--<section class="bg-slate-900 dark:bg-slate-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-white">IT Инфраструктура для вашего предприятия</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl text-gray-500">Присоеденитесь к нам уже сегодня</p>
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Присоедениться
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Speak to Sales
            </a> 
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <%= image_tag "3629292_653.svg", class: "rounded-full"%>
        </div>                
    </div>
</section>-->
<section class="py-12 md:py-10">
    <div class="w-full max-w-10xl mx-auto px-4 sm:px-6 md:px-8 relative">
        <div class="shadow rounded-xl">
            <div class="grid overflow-hidden text-white shadow-xl md:grid-cols-2 bg-emerald-500 rounded-xl">
                <aside class="p-8 space-y-4 md:p-16">
                    <h2 class="text-2xl font-bold tracking-tight md:text-4xl font-headline">
                        Хотите отдохнуть от городской суеты, восстановить силы и улучшить свое здоровье?
                        Тогда вам в санаторий "Зеленая Роща"! 
                    </h2>
                  
                    <p class="font-medium text-blue-100 md:text-2xl">
                        Присоеденитесь к нам уже сегодня. Акции и выгодные предложения уже ждут вас!
                    </p>

                    <div>
                      <!-- old_solution
                        <a href="" class="bg-white text-slate-600 px-4 py-2 mt-3 rounded-xl">
                            Узнать больше
                        </a>
                      -->
                        <%= link_to "Узнать больше",  services_path,  class: "bg-white text-slate-600 px-4 py-2 mt-3 rounded-xl" %>
                    </div>
                </aside>

                <aside class="relative hidden md:block">
                  <%= image_tag 'smartphone.svg', width:50, class: "absolute inset-0 object-cover object-left-top w-full h-full mt-16 -mr-16 rounded-tl-lg" %>
                </aside>
            </div>
        </div>
    </div>
</section>                                 

<div class="">
  <div class="bg-slate-900 p-8 min-h-[350px] flex items-center justify-center font-[sans-serif] text-[#333]">
    <div class="bg-emerald-500 shadow-[0_4px_24px_-8px_rgba(0,0,0,0.2)] grid lg:grid-cols-4 sm:grid-cols-2 sm:gap-24 gap-12 rounded-3xl px-20 py-10">
      <div class="text-center">
        <h3 class="text-4xl font-extrabold">100 000<span class="text-blue-600"></span></h3>
        <p class="text-gray-50 font-semibold mt-3">Клиентов благодарны нам</p>
      </div>
      <div class="text-center">
        <h3 class="text-4xl font-extrabold">90<span class="text-blue-600"></span></h3>
        <p class="text-gray-50 font-semibold mt-3">Категорий санаторных программ</p>
      </div>
      <div class="text-center">
        <h3 class="text-4xl font-extrabold">110<span class="text-blue-600"></span></h3>
        <p class="text-gray-50 font-semibold mt-3">Специалистов разной направленности</p>
      </div>
      <div class="text-center">
        <h3 class="text-4xl font-extrabold">500<span class="text-blue-600"></span></h3>
        <p class="text-gray-50 font-semibold mt-3">Организаций довольны пользоваться нашими услугами</p>
      </div>
    </div>
  </div>
</div>
<!--
<div class="relative">
    <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-b from-green-200 to-blue-200">
        <h2 class="text-4xl font-bold">The First slide</h2>
        <p class="mt-2">Scroll Down for next slide</p>
    </div>
    <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-b from-indigo-800 to-purple-800 text-white">
        <h2 class="text-4xl font-bold">The Second slide</h2>
        <p class="mt-2">Scroll Down for next slide</p>
    </div>
    <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-b from-purple-800 to-pink-800 text-white">
        <h2 class="text-4xl font-bold">The Third slide</h2>
        <p class="mt-2">Scroll Down</p>
    </div>
    <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-b from-blue-200 to-indigo-100 text-black">
        <h2 class="text-4xl font-bold">The Fourth slide</h2>
    </div>
</div> 
-->
  
  <!-- Slide 1 
  <div class="rounded-md sticky top-0 h-screen flex flex-col items-center justify-center bg-gray-100">
    <h1 class="text-white text-4xl font-bold">Slide 1 (scroll down)
      <%= image_tag 'abstract.svg', width: 1000, class: "mt-6 h-screen flex" %>
    </h1>
  </div>
-->
<section>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 bg-gradient-to-l from-emerald-500 from-10 rounded-3xl">
    <div class="max-w-3xl">
      <h2 class="text-3xl font-bold sm:text-4xl text-white">
        Почему именно мы ?
      </h2>
    </div>

    <div class="mt-10 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <%= image_tag 'medical-history.svg', class: "relative h-64 rounded-xl overflow-hidden sm:h-80 lg:h-full" %>

      <div class="lg:py-20">
        <article class="space-y-4 bg-slate-900 text-white px-4 py-2 mt-3 rounded-xl">
          <p>
            Расположенный в живописном уголке природы, наш санаторий предлагает вам:
          </p>
          <p>
            • Уникальные лечебные программы: Мы предлагаем комплексное лечение и профилактику различных заболеваний с использованием новейших методик и природных ресурсов.
          </p>
          <p>
            • Профессиональный медицинский персонал: В "Зеленой Роще" работают опытные врачи и специалисты, которые подберут для вас индивидуальный курс лечения и оздоровления.
          </p>
          <p>
            • Современная лечебно-диагностическая база: В вашем распоряжении - комфортные процедурные кабинеты, оснащенные современным оборудованием, а также уютные спа-зоны для релаксации.
          </p>
          <p>
            • Разнообразные развлечения: Отправляйтесь на прогулки по живописным окрестностям, насладитесь активным отдыхом на свежем воздухе, посетите концерты, кинопоказы или театральные представления.
          </p>
          <p>
            • Вкусное и полезное питание: Мы предлагаем сбалансированное диетическое питание, разработанное с учетом потребностей каждого отдыхающего.
          </p>
          <p class="center">
            В "Зеленой Роще" вы получите:
          </p>
          <p>
            • Отдых для тела и души: Отдохните от стрессов и забот, насладитесь тишиной и красотой природы.
          </p>
          <p>
            • Повышение жизненного тонуса: Зарядитесь энергией и верните себе утраченное здоровье.
          </p>
          <p>
            • Новые знакомства: Познакомьтесь с интересными людьми, делитесь опытом и впечатлениями.
          </p>
          <p>
            Санаторий "Зеленая Роща" - это идеальное место для восстановления сил и оздоровления всей семьи!
          </p>
          <p>
            Забронируйте ваш отдых прямо сейчас и откройте для себя мир здоровья и спокойствия!
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
  <!-- Slides
  <div class="rounded-md sticky top-0 flex-col h-screen flex items-center justify-center">
    <figure class="relative transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
      <%= image_tag 'data_center.jpg', class: "size-full md: h-screen flex blur-sm" %>
      <figcaption class="absolute px-10 text-xl text-white text-justify bottom-10 h-screen flex items-center justify-center">
          <p></p>
      </figcaption>
    </figure>
  </div>


  <div class="rounded-md sticky top-0 flex-col h-screen flex items-center justify-center">
    <%= image_tag 'data_center.jpg', class: "size-full md: h-screen flex blur-sm"%>
  </div>

  <div class="rounded-md sticky top-0 flex-col h-screen flex items-center justify-center bg-red-500">
    <h1 class="text-white text-4xl font-bold">Slide 3 (scroll down)</h1>
  </div>


  <div class="rounded-md sticky top-0 flex-col h-screen flex items-center justify-center bg-yellow-500">
    <h1 class="text-white text-4xl font-bold">Slide 4 (scroll down)</h1>
  </div>

  <div class="rounded-md sticky top-0 h-screen flex flex-col items-center justify-center bg-indigo-500">
    <h1 class="text-white text-4xl font-bold">Slide 5</h1>
  </div>
-->