<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-500">
    <%= render 'layouts/header'%>
    <div class="bg-slate-300 flex">
      <%= render 'layouts/sidebar'%>
      <!--<main class="bg-slate-500 w-5/6 p-4 flex-grow">-->
      <main class="bg-slate-900 w-5/6 p-4 flex-grow">

        <!--centered
        <div class="mx-auto w-full md:w-2/3">
          
        </div>
        -->
        <%= yield %>
      </main>
    </div>
  </body>
</html>
